/* ========= Responsive
==========================================================*/
@media (max-width: 1400px) {
  /* line 7, responsive.scss */
  .happy-user .owl-nav button.owl-next {
    -webkit-box-shadow: 0 0 5px;
            box-shadow: 0 0 5px;
    border-radius: 50%;
    right: 0px; }
  /* line 12, responsive.scss */
  .happy-user .owl-nav button.owl-prev {
    left: 0px;
    -webkit-box-shadow: 0 0 5px;
            box-shadow: 0 0 5px;
    border-radius: 50%; }

  /* line 20, responsive.scss */
  .client-area .owl-nav {
    width: 50px;
    top: 100px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }
  /* line 26, responsive.scss */
  .client-area button.owl-prev,
  .client-area button.owl-next {
    -webkit-box-shadow: 0 0 5px;
            box-shadow: 0 0 5px;
    border-radius: 50%; } }
@media all and (max-width: 991.98px) {
  /* line 38, responsive.scss */
  .account-login .webgap-btn {
    display: none; }
  /* line 41, responsive.scss */
  .account-login .webgap-btn.show-mobile {
    display: block;
    width: 80px; }

  /* line 46, responsive.scss */
  .slicknav_menu {
    display: block; }

  /* line 49, responsive.scss */
  .header-area .logo {
    margin: 0; }

  /* line 52, responsive.scss */
  .account-login .webgap-btn.show-mobile {
    position: relative;
    right: 45px; }

  /* line 57, responsive.scss */
  .slicknav_menu {
    position: absolute;
    width: 100%;
    top: 79px;
    z-index: 9;
    background: transparent; }
    /* line 63, responsive.scss */
    .slicknav_menu span.slicknav_menutxt {
      display: none !important; }
    /* line 66, responsive.scss */
    .slicknav_menu span.slicknav_icon {
      margin: 0 !important; }
    /* line 69, responsive.scss */
    .slicknav_menu a.slicknav_btn {
      position: absolute;
      top: -52px;
      right: 8px;
      background: #6fc7f2;
      padding: 10px;
      border: 2px solid #0fa1e9; }
      /* line 76, responsive.scss */
      .slicknav_menu a.slicknav_btn:hover {
        background: #0fa1e9; }
    /* line 80, responsive.scss */
    .slicknav_menu ul.slicknav_nav {
      background: #6fc7f2;
      padding: 20px 0; }
      /* line 83, responsive.scss */
      .slicknav_menu ul.slicknav_nav a:hover {
        background: #0074ad; }

  /* line 91, responsive.scss */
  .webgap-btn {
    width: 150px; }

  /* line 94, responsive.scss */
  .container {
    max-width: 768px; }

  /* line 99, responsive.scss */
  .header-area .container {
    width: 100%;
    max-width: 100%; }

  /* line 105, responsive.scss */
  .remote-browser {
    padding: 80px 0 40px; }
    /* line 107, responsive.scss */
    .remote-browser .reb-margin {
      margin-bottom: 45px; }

  /* line 112, responsive.scss */
  .hero-area {
    padding: 30px 0 120px; }
    /* line 116, responsive.scss */
    .hero-area .hero-content h2 {
      font-size: 40px; }
    /* line 119, responsive.scss */
    .hero-area .hero-content p {
      font-size: 16px; }

  /* line 126, responsive.scss */
  .signup-area p {
    font-size: 18px;
    line-height: 1.5; }

  /* line 133, responsive.scss */
  .heading h3 {
    font-size: 35px; }
  /* line 136, responsive.scss */
  .heading p {
    font-size: 16px; }

  /* line 141, responsive.scss */
  .happy-user {
    padding: 60px 0 120px; }
    /* line 143, responsive.scss */
    .happy-user .owl-dots {
      top: 40px; }

  /* line 148, responsive.scss */
  .learning-center {
    padding: 60px 0 100px; }
    /* line 151, responsive.scss */
    .learning-center .heading h3 {
      margin: 0 0 0px; }

  /* line 158, responsive.scss */
  .client-area div#clientSlide {
    margin: 50px 0 100px; }

  /* line 163, responsive.scss */
  .footer-top {
    padding: 80px 0 40px; }
    /* line 165, responsive.scss */
    .footer-top .row.link-flex {
      padding: 0; }
    /* line 168, responsive.scss */
    .footer-top .footer-widget {
      margin: 0 0 30px; }
      /* line 170, responsive.scss */
      .footer-top .footer-widget p {
        max-width: inherit; }
    /* line 174, responsive.scss */
    .footer-top .link-group {
      margin: 0 0 25px; }
    /* line 177, responsive.scss */
    .footer-top .flex-one {
      max-width: 50%;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 50%;
              flex: 0 0 50%; }

  /* line 183, responsive.scss */
  .owl-next,
  .owl-prev {
    width: 30px; } }
@media all and (max-width: 767.98px) {
  /* line 192, responsive.scss */
  header.header-area {
    padding: 15px 0; }
    /* line 194, responsive.scss */
    header.header-area .container {
      width: 100%;
      max-width: 100%; }

  /* line 199, responsive.scss */
  .slicknav_menu {
    top: 70px; }

  /* line 204, responsive.scss */
  .container {
    max-width: 480px; }

  /* line 207, responsive.scss */
  .header-area .logo {
    max-width: 120px; }

  /* line 211, responsive.scss */
  .hero-area .hero-img {
    max-width: inherit;
    text-align: center;
    margin: 20px 0 0 0; }
  /* line 216, responsive.scss */
  .hero-area:after {
    background-position: bottom; }
  /* line 219, responsive.scss */
  .hero-area .hero-content {
    text-align: center; }
    /* line 221, responsive.scss */
    .hero-area .hero-content h2 {
      font-size: 25px;
      margin: 0 0 20px;
      font-weight: 600;
      line-height: 1.5; }
    /* line 227, responsive.scss */
    .hero-area .hero-content p {
      font-size: 14px; }
    /* line 230, responsive.scss */
    .hero-area .hero-content h2 + p + p {
      margin: 5px 0 15px; }
    /* line 233, responsive.scss */
    .hero-area .hero-content .webgap-btn {
      margin: 30px auto; }

  /* line 240, responsive.scss */
  .heading h3 {
    font-size: 20px;
    line-height: 1.5;
    font-weight: 600; }
  /* line 245, responsive.scss */
  .heading p {
    font-size: 14px;
    margin: 15px 0 50px; }

  /* line 251, responsive.scss */
  .remote-browser {
    padding: 60px 0 10px; }
    /* line 254, responsive.scss */
    .remote-browser .single-item h4 {
      font-size: 14px;
      margin: 7px 0; }
    /* line 258, responsive.scss */
    .remote-browser .single-item p {
      font-size: 14px; }

  /* line 264, responsive.scss */
  .signup-area {
    text-align: center; }
    /* line 266, responsive.scss */
    .signup-area .signup-text {
      margin: 30px 0; }
    /* line 269, responsive.scss */
    .signup-area .webgap-btn {
      margin: 0 auto; }

  /* line 274, responsive.scss */
  .reb-margin {
    margin-bottom: 30px; }

  /* line 278, responsive.scss */
  .happy-user {
    padding: 60px 0 80px; }
    /* line 280, responsive.scss */
    .happy-user .container.p-0 {
      padding: 0 15px !important; }
    /* line 284, responsive.scss */
    .happy-user .heading p {
      margin-bottom: 30px;
      line-height: 1.5; }
    /* line 289, responsive.scss */
    .happy-user .user-openione {
      padding: 30px 35px 30px 70px; }
      /* line 291, responsive.scss */
      .happy-user .user-openione h5 {
        font-size: 16px; }
      /* line 294, responsive.scss */
      .happy-user .user-openione p {
        font-size: 13px;
        margin: 15px 0; }
      /* line 298, responsive.scss */
      .happy-user .user-openione:before {
        top: 30px;
        left: 20px;
        width: 35px;
        background-size: 100%; }
    /* line 305, responsive.scss */
    .happy-user .owl-dots {
      top: 25px; }

  /* line 310, responsive.scss */
  .learning-center {
    padding: 60px 0 35px; }
    /* line 313, responsive.scss */
    .learning-center .card {
      margin: 0 0 30px; }
      /* line 315, responsive.scss */
      .learning-center .card .card-body {
        text-align: center;
        padding: 4px 4px 20px 4px; }
      /* line 319, responsive.scss */
      .learning-center .card h5 {
        font-size: 16px; }
      /* line 322, responsive.scss */
      .learning-center .card p {
        font-size: 13px; }

  /* line 329, responsive.scss */
  .client-area h3 {
    font-size: 24px; }

  /* line 335, responsive.scss */
  .copyright .c-left ul {
    text-align: center; }
  /* line 338, responsive.scss */
  .copyright .c-right p {
    text-align: center; }

  /* line 343, responsive.scss */
  .footer-top {
    padding: 60px 0 20px;
    text-align: center; }
    /* line 347, responsive.scss */
    .footer-top .link-group a {
      line-height: 30px; }
    /* line 352, responsive.scss */
    .footer-top ul.address li {
      padding: 0; }
    /* line 355, responsive.scss */
    .footer-top ul.address img {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      top: 5px !important;
      margin: 0 10px 0 0; }
    /* line 363, responsive.scss */
    .footer-top .flex-one {
      max-width: 100%;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
              flex: 0 0 100%; } }
/* =========  Responsive
==========================================================*/
