/* ========= Responsive
==========================================================*/
@media (max-width: 1400px) {
  /* line 7, responsive.scss */
  .happy-user .owl-nav button.owl-next {
    -webkit-box-shadow: 0 0 5px;
            box-shadow: 0 0 5px;
    border-radius: 50%;
    right: -7px; }
  /* line 12, responsive.scss */
  .happy-user .owl-nav button.owl-prev {
    left: -7px;
    -webkit-box-shadow: 0 0 5px;
            box-shadow: 0 0 5px;
    border-radius: 50%; }

  /* line 20, responsive.scss */
  .client-area .owl-nav {
    width: 0;
    top: 100px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }
  /* line 26, responsive.scss */
  .client-area button.owl-prev,
  .client-area button.owl-next {
    -webkit-box-shadow: 0 0 5px;
            box-shadow: 0 0 5px;
    border-radius: 50%; } }
@media all and (max-width: 991.98px) {
  /* line 38, responsive.scss */
  .account-login .webgap-btn {
    display: none; }
  /* line 41, responsive.scss */
  .account-login .webgap-btn.show-mobile {
    display: block;
    width: 80px; }

  /* line 46, responsive.scss */
  .slicknav_menu {
    display: block; }

  /* line 49, responsive.scss */
  .header-area .logo {
    margin: 0; }

  /* line 52, responsive.scss */
  .account-login .webgap-btn.show-mobile {
    position: relative;
    right: 45px; }

  /* line 57, responsive.scss */
  .slicknav_menu {
    position: absolute;
    width: 100%;
    top: 79px;
    z-index: 9;
    background: transparent; }
    /* line 63, responsive.scss */
    .slicknav_menu span.slicknav_menutxt {
      display: none !important; }
    /* line 66, responsive.scss */
    .slicknav_menu span.slicknav_icon {
      margin: 0 !important; }
    /* line 69, responsive.scss */
    .slicknav_menu a.slicknav_btn {
      position: absolute;
      top: -52px;
      right: 8px;
      background: #6fc7f2;
      padding: 10px;
      border: 2px solid #0fa1e9; }
      /* line 76, responsive.scss */
      .slicknav_menu a.slicknav_btn:hover {
        background: #0fa1e9; }
    /* line 80, responsive.scss */
    .slicknav_menu ul.slicknav_nav {
      background: #6fc7f2;
      padding: 20px 0; }
      /* line 83, responsive.scss */
      .slicknav_menu ul.slicknav_nav a:hover {
        background: #0074ad; }

  /* line 91, responsive.scss */
  .webgap-btn {
    width: 150px; }

  /* line 94, responsive.scss */
  .container {
    max-width: 768px; }

  /* line 97, responsive.scss */
  .footer-top {
    padding: 80px 0 40px; }
    /* line 99, responsive.scss */
    .footer-top .footer-widget {
      margin: 0 0 30px; }
      /* line 101, responsive.scss */
      .footer-top .footer-widget p {
        max-width: inherit; }
    /* line 105, responsive.scss */
    .footer-top .link-group {
      margin: 0 0 20px; }

  /* line 110, responsive.scss */
  .remote-browser {
    padding: 80px 0 40px; }
    /* line 112, responsive.scss */
    .remote-browser .reb-margin {
      margin-bottom: 45px; }

  /* line 117, responsive.scss */
  .hero-area {
    padding: 30px 0 120px; }
    /* line 120, responsive.scss */
    .hero-area .hero-content h2 {
      font-size: 40px; }
    /* line 123, responsive.scss */
    .hero-area .hero-content p {
      font-size: 16px; }

  /* line 130, responsive.scss */
  .signup-area p {
    font-size: 18px;
    line-height: 1.5; }

  /* line 137, responsive.scss */
  .heading h3 {
    font-size: 35px; }
  /* line 140, responsive.scss */
  .heading p {
    font-size: 16px; }

  /* line 145, responsive.scss */
  .happy-user {
    padding: 60px 0 120px; }
    /* line 147, responsive.scss */
    .happy-user .owl-dots {
      top: 40px; }

  /* line 152, responsive.scss */
  .learning-center {
    padding: 60px 0 100px; }
    /* line 155, responsive.scss */
    .learning-center .heading h3 {
      margin: 0 0 0px; }

  /* line 162, responsive.scss */
  .client-area div#clientSlide {
    margin: 50px 0 100px; } }
@media all and (max-width: 767.98px) {
  /* line 171, responsive.scss */
  header.header-area {
    padding: 15px 0; }

  /* line 174, responsive.scss */
  .slicknav_menu {
    top: 70px; }

  /* line 179, responsive.scss */
  .container {
    max-width: 480px; }

  /* line 182, responsive.scss */
  .header-area .logo {
    max-width: 120px; }

  /* line 186, responsive.scss */
  .hero-area .hero-img {
    max-width: inherit;
    text-align: center;
    margin: 20px 0 0 0; }
  /* line 191, responsive.scss */
  .hero-area:after {
    background-position: bottom; }
  /* line 194, responsive.scss */
  .hero-area .hero-content {
    text-align: center; }
    /* line 196, responsive.scss */
    .hero-area .hero-content h2 {
      font-size: 25px;
      margin: 0 0 20px;
      font-weight: 600;
      line-height: 1.5; }
    /* line 202, responsive.scss */
    .hero-area .hero-content p {
      font-size: 14px; }
    /* line 205, responsive.scss */
    .hero-area .hero-content h2 + p + p {
      margin: 5px 0 15px; }
    /* line 208, responsive.scss */
    .hero-area .hero-content .webgap-btn {
      margin: 30px auto; }

  /* line 215, responsive.scss */
  .heading h3 {
    font-size: 20px;
    line-height: 1.5;
    font-weight: 600; }
  /* line 220, responsive.scss */
  .heading p {
    font-size: 14px;
    margin: 15px 0 50px; }

  /* line 226, responsive.scss */
  .remote-browser {
    padding: 60px 0 25px; }
    /* line 229, responsive.scss */
    .remote-browser .single-item h4 {
      font-size: 14px;
      margin: 7px 0; }
    /* line 233, responsive.scss */
    .remote-browser .single-item p {
      font-size: 14px; }

  /* line 240, responsive.scss */
  .happy-user .user-openione {
    padding: 30px 35px 30px 90px; }
  /* line 243, responsive.scss */
  .happy-user:before {
    top: 30px;
    left: 20px; }

  /* line 249, responsive.scss */
  .signup-area {
    text-align: center; }
    /* line 251, responsive.scss */
    .signup-area .signup-text {
      margin: 40px 0; }
    /* line 254, responsive.scss */
    .signup-area .webgap-btn {
      margin: 0 auto; }

  /* line 259, responsive.scss */
  .reb-margin {
    margin-bottom: 30px; }

  /* line 263, responsive.scss */
  .happy-user {
    padding: 60px 0 80px; }
    /* line 266, responsive.scss */
    .happy-user .heading p {
      margin-bottom: 30px;
      line-height: 1.5; }
    /* line 272, responsive.scss */
    .happy-user .user-openione h5 {
      font-size: 16px; }
    /* line 275, responsive.scss */
    .happy-user .user-openione p {
      font-size: 13px;
      margin: 15px 0; }
    /* line 279, responsive.scss */
    .happy-user .user-openione:before {
      top: 30px;
      left: 20px; }
    /* line 284, responsive.scss */
    .happy-user .owl-dots {
      top: 25px; }

  /* line 289, responsive.scss */
  .learning-center {
    padding: 60px 0 70px; }
    /* line 291, responsive.scss */
    .learning-center .card {
      margin: 0 0 30px; }
      /* line 293, responsive.scss */
      .learning-center .card .card-body {
        text-align: center;
        padding: 4px 4px 20px 4px; }
      /* line 297, responsive.scss */
      .learning-center .card h5 {
        font-size: 16px; }
      /* line 300, responsive.scss */
      .learning-center .card p {
        font-size: 13px; }

  /* line 307, responsive.scss */
  .client-area h3 {
    font-size: 24px; }

  /* line 313, responsive.scss */
  .copyright .c-left ul {
    text-align: center; }
  /* line 316, responsive.scss */
  .copyright .c-right p {
    text-align: center; }

  /* line 321, responsive.scss */
  .footer-top {
    padding: 60px 0 20px;
    text-align: center; }
    /* line 325, responsive.scss */
    .footer-top .link-group a {
      line-height: 30px; }
    /* line 330, responsive.scss */
    .footer-top ul.address li {
      padding: 0; }
    /* line 333, responsive.scss */
    .footer-top ul.address img {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      top: 5px !important;
      margin: 0 10px 0 0; } }
/* =========  Responsive
==========================================================*/
